ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333333;
    text-align: center;
  }
  
  li {
    display: inline-block;
  }
  
  li a {
    display: block;
    color: white;
    padding: 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111111;
  }

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }

  .box1 {
    position: fixed;
    left: 0;
    width: 100%;
  }